<div class="nav-items">

  <div class="nav-item" *ngFor="let item of navItems" [ngClass]="{'active': item.isActive}">
    <a class="nav-link" [routerLink]="item.routerLink" (click)="toggleActive(item)">
      <i [class]="item.iconClass"></i>
      <span class="mx-2">{{ item.label }}</span>

    <div class="nav-item">
        <a class="nav-link" routerLink="Dashboard" routerLinkActive="active">
            <!-- <fa-icon [icon]="faDashboard"></fa-icon> -->
            <span>Dashboard</span>
        </a>
      
    </div>

    <a class="nav-link" routerLink="Category" routerLinkActive="active">
        <div class="nav-item">
            <!-- <fa-icon [icon]="faLocation"></fa-icon> -->
            <span>Category</span>
          </div>
    </a>

    <a class="nav-link" routerLink="Subcategory" routerLinkActive="active">
      <div class="nav-item">
          <!-- <fa-icon [icon]="faLocation"></fa-icon> -->
          <span>Subcategory</span>
        </div>
  </a>

    <a class="nav-link" routerLink="Author" routerLinkActive="active">
        <div class="nav-item">
            <!-- <fa-icon [icon]="faLocation"></fa-icon> -->
            <span>Author</span>
          </div>
    </a>

    <a class="nav-link" routerLink="Book" routerLinkActive="active">
        <div class="nav-item">
            <!-- <fa-icon [icon]="faLocation"></fa-icon> -->
            <span>Book</span>
          </div>

    </a>
  </div>
</div>

