<div class="nav-items">
    <div class="nav-item">
        <a class="nav-link" routerLink="Dashboard" routerLinkActive="active">
            <!-- <fa-icon [icon]="faDashboard"></fa-icon> -->
            <span>Dashboard</span>
        </a>
      
    </div>

    <a class="nav-link" routerLink="Category" routerLinkActive="active">
        <div class="nav-item">
            <!-- <fa-icon [icon]="faLocation"></fa-icon> -->
            <span>Category</span>
          </div>
    </a>

    <a class="nav-link" routerLink="Author" routerLinkActive="active">
        <div class="nav-item">
            <!-- <fa-icon [icon]="faLocation"></fa-icon> -->
            <span>Author</span>
          </div>
    </a>

    <a class="nav-link" routerLink="Book" routerLinkActive="active">
        <div class="nav-item">
            <!-- <fa-icon [icon]="faLocation"></fa-icon> -->
            <span>Book</span>
          </div>
    </a>
    
    
    <a class="nav-link" routerLink="Publisher" routerLinkActive="active">
        <div class="nav-item">
            <!-- <fa-icon [icon]="faBox"></fa-icon> -->
            <span>Publisher</span> 
          </div>
    </a>

    <a class="nav-link" routerLink="Bookfloor" routerLinkActive="active">
        <div class="nav-item">
            <!-- <fa-icon [icon]="faShop"></fa-icon> -->
            <span>BookFloor</span>
          </div>
    </a>
    
    <a class="nav-link" routerLink="Subscriptions" routerLinkActive="active">
        <div class="nav-item">
            <!-- <fa-icon [icon]="faMoneyBill"></fa-icon> -->
            <span>Subscriptions</span>  
      </div>
    </a>
    
  
    <div class="nav-item">
      <!-- <fa-icon [icon]="faChartBar"></fa-icon> -->
      <span>Statistics</span>
  
    </div>
  
    <div class="nav-item">
      <!-- <fa-icon [icon]="faContactBook"></fa-icon> -->
      <span>Contacts</span>
  
    </div>
  
    <div class="nav-item">
      <!-- <fa-icon [icon]="faHand"></fa-icon> -->
      <a href=""><span>Help</span></a>
    </div>
  

  </div>

       