<footer class="footer">
    <div class="container">
        <div class="row">
            <!-- First Row -->
            <div class=" col-md-3">
                <h3>About</h3>
                <ul>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3>Support</h3>
                <ul>
                    <li><a href="#">Help / FAQ</a></li>
                    <li><a href="#">Accessibility</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3>Legal</h3>
                <ul>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Privacy</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3>Social</h3>
                <ul>
                    <li><a href="#"><img src="" alt="Instagram"> Instagram</a></li>
                    <li><a href="#"><img src="" alt="Twitter"> Twitter</a></li>
                    <li><a href="#"><img src="" alt="Facebook"> Facebook</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <!-- Second Row -->
        <div class="row">
            <!-- First Div (Left) -->
        </div>
    </div>
</footer>