<div class="container-fluid">
  <div class="header">
    <page-header></page-header>
  </div>

  <!-- *ngIf="!isUserAdmin" -->
  <div class="nav-var" *ngIf="!isUserAdmin">
    <app-navbar></app-navbar>
  </div>

  <!-- *ngIf="isUserAdmin" -->
  <div class="main-container" *ngIf="!isUserAdmin">
    <div class="main col-md pb-3">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="main-container d-flex align-items-center justify-content-center" *ngIf="isUserAdmin">
    <div class="sid-nev col-md-2">
      <app-adminsidenav></app-adminsidenav>
    </div>

    <div class="main col-md-10 pb-3">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="footer mt-5" *ngIf="!isUserAdmin">
    <app-footer></app-footer>
  </div>
</div>
