<mat-toolbar class="head-1">
    <mat-toolbar-row>
      <span>
          <a mat-link href="/home" class="logo">
              <img src="../../../assets/img/book-logo-png-12.png" alt="Logo" width="45" height="42">
          SCRIBD</a>
      </span>
      <span class="example-spacer"></span>
      

      <form class="search-form">
          <input type="text" class="search-input" placeholder="Search...">
          <button type="submit" class="search-button">
              <mat-icon class="search-icon" aria-hidden="false" aria-label="Example heart icon">search-button</mat-icon>
          </button>
      </form>

      <span class="example-spacer"></span>

      <button mat-icon-button class="fab-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>

      <div class="user">
          <span>
              
              <!-- {{this.api.getTokenUserInfo()?.firstName | titlecase}} -->
          </span>
          <button mat-icon-button [matMenuTriggerFor]="userMenu">
              <mat-icon>account_circle</mat-icon>
          </button>
      </div>

      <div class="login-register">
          <mat-menu #userMenu="matMenu">
              <button mat-menu-item routerLink="/login">
                  <mat-icon>login</mat-icon>
                  <span>Login</span>
              </button>
              
              <button mat-menu-item routerLink="/register">
              <!-- (click)="logOut()" -->
                  <mat-icon>Registration</mat-icon>
                  <span>Registration</span>
              </button>
              <button mat-menu-item routerLink="/users/profile">
                  <mat-icon>account_box</mat-icon>
                  <span>Profile</span>
              </button>   
          </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-toolbar class="head-2">
      <mat-toolbar-row>
          <!-- <button mat-icon-button class="example-icon" aria-hidden="true" aria-label="Example icon-button with menu icon">
              <mat-icon>menu</mat-icon>
          </button> -->
          <!-- <a mat-raised-button routerLink="/home">
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
          </a> -->
         
          <button mat-button [matMenuTriggerFor]="menu" >Book</button>
          <mat-menu #menu="matMenu">
              <button mat-menu-item>Item 1</button>
              <button mat-menu-item>Item 2</button>
          </mat-menu>

          <button mat-button [matMenuTriggerFor]="menu" >Publisher</button>
          <mat-menu #menu="matMenu">
              <button mat-menu-item>Item 1</button>
              <button mat-menu-item>Item 2</button>
          </mat-menu>
  
             
        </mat-toolbar-row>
  </mat-toolbar>
