<div class="collapse navbar-collapse" id="navbarNav">
    <form class="form-inline mx-auto my-2 my-lg-0 d-flex">
        <div class="input-group">
            <input class="form-control search-input" [(ngModel)]="searchText" type="text" placeholder="Search...">
        </div>
        <div class="input-group-append">
            <button class="btn btn-outline-success search-button" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </form>
</div>